*{
    margin: 0;
    box-sizing: border-box;
}

.main-container{
    display: flex;
    width: 600px;
    height: 600px; 
    border: 1px solid black;
    justify-content: flex-start;
    margin-top: 50px;
    margin-left: 450px;
    padding-left: 10px;
    padding-top: 20px;
}

#text-field{
    width: 320px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 8px;
}

#search{
    width: 200px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 8px;
}

#plus-minus{
    width: 80px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 5px;
}

#select-field{
    width: 320px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 5px;
}

.switch-1{
    width: 50px;
    height: 30px;
    background-color: aliceblue;
    border-radius: 5px;
    
}

.switch-2 {
    width: 50px;
    height: 30px;
    background-color: lightgrey;
    border-radius: 5px;
}

#add-on{
    width: 270px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 5px;
}

.button{
    width: 60px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 5px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;  
    background-color: #ccc;
}

.slider.round {
    border-radius: 34px;
}

#multiselect{
    width: 320px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 5px;
}
